.skill{
  position: relative;
  margin-bottom: 30px;
  &__row{
    margin-top: 100px;
    display: flex;
  }
  &__chart{
    width: 100%;
    margin: 0 auto;

  }
  &__text{
    padding-top: 10px;

    position: relative;
    left: 50%;
    top: 50%;
    position: absolute;

    line-height: 1;
    margin: 0;
    transform: translate(-50%,-50%);
  }
}